nav {
   margin-bottom: 50px;
}

/* === Карточка покупця === */

article {
   padding: 0px;
   margin: 20px 0;
   display: flex;
}

.div_boxes {
   display: inline-flex;
   flex-direction: column;
   align-items: center;
   flex: 1 0 auto;
   padding: 20px 40px 50px 40px;
}

/* === Час === */
.div_time {
   padding-bottom: 20px;
}

.top {
   width: 80%;
}

.bottom {
   width: 80%;

}

/* === Блок кнопки меню ==== */

.right {
   flex: 0 0 auto;
   padding: 20px;

}


/* === Кнопка скрол ==== */

.up {
   width: 100px;
   height: 100px;
   border-radius: 50%;
   z-index: 3;

   cursor: pointer;

   position: fixed;
   bottom: 50px;
   right: 8px;
   border: 10px solid #ececed;
   display: none;
   opacity: 0;
   animation: ani 2s forwards;
}

@keyframes ani {
   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }
}

.up:hover {
   border: none;
}

.up-show {
   display: block;
}


.form-dropdown {
   padding: 30px;
   border-radius: 10px;
}

.form-dropdown:hover {
   background-color: #f4f4f4;
}

/* === Кнопка налаштування ==== */

.btn_set {
   width: 40px;
   height: 40px;
   padding: 9px;
   background-color: #fff;
   border-radius: 100%;
   margin-bottom: 5px;

}

.btn_set:hover {
   background-color: var(--primary);
}

/* === Випадаюче меню ==== */

.dropdown {
   position: relative;
   display: inline-block;
}


.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f1f1f1;
   box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
   z-index: 1;
   width: 150px;
   height: 100px;
   right: 18px;
   top: 65px;
}

.dropdown-content a {
   position: relative;
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   font-size: 16px;
}

.dropdown a:hover {
   background-color: #ddd;
}

.show {
   display: block;
}

/* === Block Filter === */

.block-filter {
   display: grid;
   grid-auto-columns: 50px;
   grid-template-columns: repeat(3, 1fr) auto;
}

.hide {
   display: none;
}

.UUD {
   display: none;
}

ol {
   list-style-type: none;
   height: 100px;
   overflow: scroll;
   overflow-x: hidden;
   /* display: none; */
}

/*  === Кнопка фильтр === */

.btnfilter {
   width: 60px;
   height: 60px;
   padding: 9px;
   background-color: #fff;
}

.btnfilter:hover {
   background-color: var(--primary);
   transition: all 600ms;
}